
# mount body box

mount_wings_right_bottom

mount_wings_right_top
rider_right_bottom

rider_right_top
saddle_right
mount_hoof_arm_right
mount_arm_(elephant|wombat|bunny|chicken|mouse|plesiosaur|llama|horse)_right
mount_hoof_leg_right
mount_leg_(elephant|wombat|bunny|chicken|mouse|plesiosaur|llama|horse)_right
mount_tail_(bunny|rat|badger|curly|otter|llama|horse|fish)
dinosaur_ventral_blades_back
mount_body
mount_fish_scales
mount_spots_cow mount_spikes_fish
mount_leg_(elephant|wombat|bunny)_left
mount_spots_rump
mount_hoof_leg_left
mount_leg_(chicken|mouse|plesiosaur|llama)_left
mount_hoof_arm_left
mount_arm_(elephant|wombat|bunny|chicken|mouse|plesiosuar)_left
mount_fin_fish
mount_mane
dinosaur_head_bottom

dinosaur_head_top
mount_head_fish_bottom

mount_head_fish_top
mount_arm_llama_left
rodent_shell_turtle
mount_llama_fur
rodent_head_right_bottom

rodent_head_right_top
rocket
saddle_left
rider_left_bottom

rider_left_top
saddle_front
mount_wings_left_bottom

mount_wings_left_top
rodent_head_left_bottom

rodent_head_left_top


# rodent head box

rodent_head_right_bottom
rodent_teeth_buck rodent_fangs rodent_tusks_elephant rodent_tusk_mastadon_right
rodent_ear_(elephant|mouse|wolf)_right
rodent_antler_right
rodent_ear_(bunny)_right
rodent_head_right_top

rodent_head_left_bottom
rodent_head_(mouse|otter|bear|elephant)
rodent_tusk_mastadon_left
rodent_eyes_(beady|wombat|elephant)
rodent_goggles
rodent_ear_(bunny)_left
rodent_antler_left
rodent_ear_(elephant|mouse|poodle|wolf)_left
rodent_(nostril|snout)
rodent_unihorn
rodent_horn_rhino
rodent_snorkel
rodent_head_left_top


# dinosaur head box

dinosaur_head_bottom
dinosaur_teeth_(buck)
dinosaur_antler_right
dinosaur_ear_(horse|bunny)_right
dinosaur_ventral_blades_front
(dinosaur|horse)_head
dinosaur_collar
dinosaur_bow_tie
dinosaur_eyes_(normal|evil)
dinosaur_goggles
horse_hair
dinosaur_ear_(bunny|horse)_left
dinosaur_antler_left
mount_llama_wig
dinosaur_unihorn
dinosaur_head_top


# fish head box

mount_head_fish_bottom
mount_eyes_fish
mount_fish_goggles
mount_mouth_fish
mount_head_fish_top


# rider right box

rider_right_bottom
rider_hair_.*
rider_(male|female)_leg_right
rider_(male|female)_(shoe|boot|sandal)_right
rider_(male|female)_(pants|shorts)_right
rider_(male|female)_arm_(straight|bent|down)_right
rider_(male|female)_sleeve_(straight|bent|down)_right
rider_right_top


# rider left box

rider_left_bottom
rider_(male|female)_leg_left
rider_(male|female)_(shoe|boot|sandal)_left
rider_(male|female)_(pants|shorts)_left
rider_(male|female)_arm_(straight|bent|down)_left
rider_(male|female)_sleeve_(straight|bent|down)_left
rider_bust_bottom

rider_bust_top
rider_(buckler|shield_(hero|roman))
rider_left_top


# rider bust box

rider_bust_bottom
rider_(male|female)_bust
rider_(male|female)_shirt
rider_armor
rider_head_(angular|oval|round)
rider_face_.*
rider_bangs_(balding|block|parted|split|straight)
rider_ear_.*
rider_earring
rider_bangs_(lemming|boss|dreads)
rider_bust_top


# wings

mount_wings_right_bottom
mount_wing_(bat|bird|hummingbird)_right
mount_wings_right_top

mount_wings_left_bottom
mount_wing_(bat|bird|hummingbird)_left
mount_wings_left_top

