
# mount body box

mount_wings_right_bottom

mount_wings_right_top
rider_right_bottom

rider_right_top
saddle_right
mount_hoof_arm_right
mount_arm_(elephant|wombat|bunny|chicken|mouse|plesiosaur|llama|horse)_right
mount_hoof_leg_right
mount_leg_(elephant|wombat|bunny|chicken|mouse|plesiosaur|llama|horse)_right
mount_tail_(bunny|rat|badger|curly|otter|llama|horse)
dinosaur_ventral_blades_back
mount_body
mount_spots_cow
mount_leg_(elephant|wombat|bunny)_left
mount_spots_rump
mount_hoof_leg_left
mount_leg_(chicken|mouse|plesiosaur|llama)_left
mount_hoof_arm_left
mount_arm_(elephant|wombat|bunny|chicken|mouse|plesiosuar)_left
mount_mane
dinosaur_head_bottom

dinosaur_head_top
mount_arm_llama_left
rodent_shell_turtle
mount_llama_fur
rodent_head_right_bottom

rodent_head_right_top
rocket
saddle_left
rider_left_bottom

rider_left_top
saddle_front
mount_wings_left_bottom

mount_wings_left_top
rodent_head_left_bottom

rodent_head_left_top


# rodent head box

rodent_head_right_bottom
rodent_teeth_buck rodent_fangs rodent_tusks_elephant rodent_tusk_mastadon_right
rodent_ear_(elephant|mouse|wolf)_right
rodent_antler_right
rodent_ear_(bunny)_right
rodent_head_right_top

rodent_head_left_top
rodent_head_(mouse|otter|bear|elephant)
rodent_tusk_mastadon_left
rodent_eyes_(beady|wombat|elephant)
rodent_goggles
rodent_ear_(bunny)_left
rodent_antler_left
rodent_ear_(elephant|mouse|poodle|wolf)_left
rodent_(nostril|snout)
rodent_unihorn
rodent_horn_rhino
rodent_snorkel
rodent_head_left_top


# dinosaur head box

dinosaur_head_bottom
dinosaur_teeth_(buck)
dinosaur_antler_right
dinosaur_ear_(horse|bunny)_right
dinosaur_ventral_blades_front
(dinosaur|horse)_head
dinosaur_collar
dinosaur_bow_tie
dinosaur_eyes_(normal|evil)
dinosaur_goggles
horse_hair
dinosaur_ear_(bunny|horse)_left
dinosaur_antler_left
mount_llama_wig
dinosaur_unihorn
dinosaur_head_top


# rider right box

rider_right_bottom
rider_back_bottom

rider_back_top
rider_torso # TODO redistribute torso, left and right leg so that the layers can stack properly
rider_fuzz
rider_leg_right_bottom

rider_leg_right_top
rider_arm_right_bottom

rider_arm_right_top
rider_shirt_right
rider_right_top


# rider left box

rider_left_bottom
rider_(arm|leg)_left_bottom

rider_(arm|leg)_left_top
rider_breastplate
rider_face_bottom

rider_face_top
rider_left_top


# rider right arm box

rider_arm_right_bottom
rider_arm_right
rider_arm_right_top


# rider left arm box

rider_arm_left_bottom
rider_hand_left_buckler
rider_hand_left
rider_arm_left
rider_hand_left_(sword|knife)
rider_hand_left_thumb
rider_shirt_left
rider_arm_left_top


# rider left leg box

rider_arm_right_bottom
rider_hand_right_buckler
rider_hand_right
rider_arm_right
rider_hand_right_(sword|knife)
rider_hand_right_thumb
rider_shirt_right
rider_arm_right_top


# rider right leg box

rider_leg_right_bottom
rider_leg_right
rider_shoe_right
rider_pant_(large|small)_right
rider_leg_right_top


# rider face box

rider_face_bottom
rider_hair_(long|long_spikey)
rider_ear_(elven|round)_(left|right)
rider_face_round
rider_eyes_(normal|aggressive|surprised)
rider_eyes_pupils
rider_hair_bangs
rider_mouth_(smile|grimamce)
rider_face_top


# rider back box

rider_back_bottom
rider_shoulder_left_buckler
rider_shoulder_right_buckler
rider_shoulder_left_sword
rider_shoulder_right_sword
rider_back_top


# wings

mount_wings_right_bottom
mount_wing_(bat|bird|hummingbird)_right
mount_wings_right_top

mount_wings_left_bottom
mount_wing_(bat|bird|hummingbird)_left
mount_wings_left_top

